@model ArtShare.Models.SearchModel

@{
    ViewBag.Title = "Search: " + Request.QueryString["searchKey"];

    var searchKey = Request.QueryString["searchKey"];
    
    var this_from = int.Parse(Request.QueryString["from"]);
    var next_from = this_from + 10;
    var prev_from = this_from - 10;

    var this_to = int.Parse(Request.QueryString["to"]);
    var next_to = this_to + 10;

    int prev_to;
    if (this_to <= 10)
    {
        prev_to = 10;
    }
    else
    {
        prev_to = this_to - 10;
    }

}

<h2>Search results for "@Request.Params["searchKey"]"</h2>
<span class="is-center">
    <div class="col-md-4">
        <h4>Movies @if(Model.NumberOfMatchingMovies > 1){<small> @Model.NumberOfMatchingMovies results @if (Model.NumberOfMatchingMovies > 10)
                                                                                                     {
                                                                                                         <span>- showing @this_from to @(this_to > Model.NumberOfMatchingMovies ? Model.NumberOfMatchingMovies : this_to)</span>
                                                                                                     }</small>}</h4>
        <table class="table table-striped table-hover search-table">
            <tbody id="tablebody1">
                @if(Model.Movies != null){
                    foreach(var m in Model.Movies){
                        <tr onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'">
                            <td><span class="glyphicon glyphicon-film"></span></td>
                            <td><span class="to-left">@m.Title (@if(m.ReleaseDate != null){@m.ReleaseDate.Value.Year})</span></td>
                        </tr>
                    }
                }
                else
                {
                    <span>No movies found</span>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Music @if (Model.NumberOfMatchingMusic > 1){<small> @Model.NumberOfMatchingMusic results @if (Model.NumberOfMatchingMusic > 10)
                                                                                                     {
                                                                                                         <span>- showing @this_from to @(this_to > Model.NumberOfMatchingMusic ? Model.NumberOfMatchingMusic : this_to)</span>
                                                                                                     }</small>}</h4>
        <table class="table table-striped table-hover table-responsive search-table">
            <tbody id="tablebody1">
                @if (Model.Music != null)
                {
                    foreach (var m in Model.Music)
                    {
                        <tr onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'">
                            <td><span class="glyphicon glyphicon-music"></span></td>
                            <td><span class="to-left">@m.Artist - @m.Title (@if(m.ReleaseDate != null){@m.ReleaseDate.Value.Year})</span></td>
                        </tr>
                    }
                }
                else
                {
                    <span>No music found</span>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <h4>Books @if (Model.NumberOfMatchingBooks > 1){<small> @Model.NumberOfMatchingBooks results @if (Model.NumberOfMatchingBooks > 10)
                                                                                                     {
                                                                                                         <span>- showing @this_from to @(this_to > Model.NumberOfMatchingBooks ? Model.NumberOfMatchingBooks : this_to)</span>
                                                                                                     }</small>}</h4>
        <table class="table table-striped table-hover search-table">
            <tbody id="tablebody1">
                @if (Model.Books != null)
                {
                    foreach (var m in Model.Books)
                    {
                        <tr onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'">
                            <td><span class="glyphicon glyphicon-book"></span></td>
                            <td><span class="to-left">@m.Title by @if(m.Author != null){@m.Author} (@if(m.ReleaseDate != null){@m.ReleaseDate.Value.Year})</span></td>
                        </tr>
                    }
                }
                else
                {
                    <span>No books found</span>
                }
            </tbody>
        </table>
    </div>

    <ul class="pager">

        @if (Request.QueryString["from"] != "1")
        {
            <li class="previous">
                @Html.ActionLink("Previous", "SearchMediaItems", new {from = prev_from, to = prev_to, searchKey});    
            </li>         
        }
        
        @if (Model.NumberOfMatchingMovies > this_to ||
        Model.NumberOfMatchingMusic > this_to ||
        Model.NumberOfMatchingBooks > this_to)
        {
            <li class="next">
                @Html.ActionLink("Next", "SearchMediaItems", new { from = next_from, to = next_to, searchKey });
            </li>
        }
    </ul>
</span>


