@model ArtShare.Models.MusicDetailsModel
@{
    ViewBag.Title = "Edit Music";
}

<h2>Upload Music</h2>

@using (Html.BeginForm("EditMusic", "Details", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" })) {
    
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.Thumbnail)
    @Html.HiddenFor(model => model.UploaderId)
    @Html.HiddenFor(model => model.UploaderName)
    @Html.HiddenFor(model => model.FileUrl)
    @Html.HiddenFor(model => model.FileExtension)
       
    <div class="col-md-8">
        <div class="form-horizontal">

            <div class="col-md-5">
                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Title)</h4>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Description", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Artist)</h4>
                    @Html.TextBoxFor(m => m.Artist, new { placeholder = "Artist", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.ReleaseDate)</h4>
                    @Html.TextBoxFor(m => m.ReleaseDate, new { placeholder = "ReleaseDate", required = "true", @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.TrackLength)</h4>
                    @Html.TextBoxFor(m => m.TrackLength, new { placeholder = "TrackLength", required = "true", @class = "form-control" })
                </div>



            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Price)</h4>
                    @Html.TextBoxFor(m => m.Price, new { placeholder = "Price", required = "true", @class = "form-control", type = "number", min = "0", max = int.MaxValue })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Tags)</h4>
                    @Html.TextBoxFor(m => m.Tags[0], new { placeholder = "Tags", required = "false", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Genres)</h4>
                    @Html.TextBoxFor(m => m.Genres[0], new { placeholder = "Genres", required = "false", @class = "form-control" })
                </div>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success to-right">Upload</button>
            </div>
        </div>
    </div>

}

<script>
    var movie_div = document.getElementById("movie");
    var music_div = document.getElementById("music");
    var book_div = document.getElementById("book");

    var filename = document.getElementById("fileName");

    function chooseType() {
        setTimeout(function () {


            movie_div.style.display = "none";
            music_div.style.display = "none";
            book_div.style.display = "none";

            var f = fileName.innerHTML;

            switch (f.substr(f.length - 4, f.length)) {
                case ".jpg":
                    book_div.style.display = "block";
                default:

            }
        }, 0);
    }

</script>