@model ArtShare.Models.BookDetailsModel
@{
    ViewBag.Title = "Edit Book";
}

<h2>Edit Book</h2>

@using (Html.BeginForm("EditBook", "Details", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" })) {   
    
    @Html.HiddenFor(model => model.ProductId)    
    <!--<div class="col-md-4">

        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                <img data-src="holder.js/100%x100%" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTkwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9Ijk1IiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE5MHgxNDA8L3RleHQ+PC9zdmc+" alt="hej">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div>
                <span class="btn btn-default btn-file"><span class="fileinput-new">Select Thumbnail</span><span class="fileinput-exists">Change Thumbnail</span><input type="file" name="Thumbnail" required></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>-->
    <div class="col-md-8">
        <div class="form-horizontal">

            <div class="col-md-5">
                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Title)</h4>
                    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
                    @Html.TextBoxFor(m => m.Description, new { placeholder = "Description", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Author)</h4>
                    @Html.TextBoxFor(m => m.Author, new { placeholder = "Author", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.ReleaseDate)</h4>
                    @Html.TextBoxFor(m => m.ReleaseDate, new { placeholder = "ReleaseDate", required = "true", @class = "form-control", type = "date" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.NumberOfPages)</h4>
                    @Html.TextBoxFor(m => m.NumberOfPages, new { placeholder = "NumberOfPages", required = "true", @class = "form-control", type = "number", min = "0", max = int.MaxValue })
                </div>



            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Language)</h4>
                    @Html.TextBoxFor(m => m.Language, new { placeholder = "Language", required = "true", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Price)</h4>
                    @Html.TextBoxFor(m => m.Price, new { placeholder = "Price", required = "true", @class = "form-control", type = "number", min = "0", max = int.MaxValue })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Tags)</h4>
                    @Html.TextBoxFor(m => m.Tags[0], new { placeholder = "Tags", required = "false", @class = "form-control" })
                </div>

                <div class="form-group">
                    <h4>@Html.DisplayNameFor(model => model.Genres)</h4>
                    @Html.TextBoxFor(m => m.Genres[0], new { placeholder = "Genres", required = "false", @class = "form-control" })
                </div>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success to-right">Upload</button>
            </div>
        </div>
    </div>

}