@model ArtShare.Models.BookDetailsModel

@{
    ViewBag.Title = "BookDetails";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div class="media-details">

    <div class="pure-g-r">

        <div class="pure-u-1-3">
            <img src="@Html.DisplayFor(model => model.Thumbnail)" />
        </div>
        
        <div class="pure-u-1-3">
            <h4>@Html.DisplayNameFor(model => model.Description)</h4>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>

        <div class="pure-u-1-3">
            <div class="info-box">
                <h4>Info</h4>

            </div>
        </div>

    </div>

    <div class="pure-g-r">
        <div class="pure-u-1-1">
            <div class="to-right">
                <button class="pure-button button-art">Buy</button>
                <button class="pure-button button-art">Download</button>
                <button class="pure-button button-art">Edit</button>
            </div>
        </div>
    </div>
    


</div>


<!--<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
</p>-->
