@using System.Diagnostics
@model ArtShare.Models.MusicDetailsModel

@{
    ViewBag.Title = Model.Title;
}

<script>
    function rate(val) {
        document.getElementById("choice").textContent = "Rated " + val + " / 10";
    }

    $(':radio').change(
  function () {
      $('.choice').text(this.value + ' stars');
  }
)
</script>




<legend class="clearfix">
    <h1 class="to-left clear">
        @Html.DisplayFor(model => model.Artist) - @Html.DisplayFor(model => model.Title) <small>(@if (@Model.ReleaseDate.HasValue)
                                                                                                 {
                                                                                                     @Model.ReleaseDate.Value.Year;
                                                                                                 })</small>

    </h1>
    <div class="to-right detail-buttons clearfix">
    @if (Request.Cookies["user"] == null)
    {
        <button class="pure-button button-art" onclick=" window.location.href = '/Details/PurchaseItem?mediaId=@Model.ProductId' ">Buy</button>
    }
    else
    {
        switch (Model.AccessRight)
        {
            case 0: <button class="pure-button button-art" data-toggle="modal" data-target="#myModal">Buy</button> break;
            case 1: <button class="pure-button button-art" onclick="window.location.href='/Download/@Model.ProductId?fileName=@Model.Title'">Download</button> break;
            case 2: <button class="pure-button button-art" onclick="window.location.href='/Details/Edit/@Model.ProductId'">Edit</button> goto case 1;
            case 3: <button class="pure-button button-art" data-toggle="modal" data-target="#myModalDelete">Delete</button> goto case 2;

        }
    }
    </div>
    

</legend>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are you sure want to purchase @Html.DisplayFor(model => model.Title)? </h4>
            </div>
            <div class="modal-body">
                <h4>Summary:</h4>

                <table class="table">
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Title)</strong></td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Artist)</strong></td>
                        <td>@Html.DisplayFor(model => model.Artist)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Description)</strong></td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayNameFor(model => model.Price)</strong></td>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/Details/PurchaseItem?mediaId=@Model.ProductId'">Confirm</button>
            </div>
        </div>
    </div>
</div>

@if(Model.AccessRight == 3){
    <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalDeleteLabel">Are you sure want to delete "@Html.DisplayFor(model => model.Title)"? </h4>
                </div>
                <div class="modal-footer">
                    @using (Html.BeginForm("Delete", "Details", new { id = Model.ProductId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
<div class="media-details">
    <div class="row">
        <div class="col-md-3">
            @if (Model.Thumbnail != null)
            {
                <img src="@Model.Thumbnail">
            }
            else
            {
                <img src="http://placehold.it/300x500" />
            }
            @if (Model.RatingsGiven > 0)
            {
                <ul class="list-group">
                    <li class="list-group-item"><strong>Average Rating:</strong> @Model.AvgRating</li>
                    <li class="list-group-item"><strong>Ratings Cast:</strong> @Model.RatingsGiven</li>
                </ul>
            }
            else
            {
                <div class="is-center">
                    <strong>Not yet rated</strong>
                </div>
                
            }
            @*Only show the rating form if the user is "buyer" / AccessRight = 1*@
            @if (Model.AccessRight == 1)
            {
                <div class="is-center">
                    <form method="post" action="/Details/RateMediaItem">
                        <input type="hidden" name="mediaId" value="@Html.DisplayFor(model => model.ProductId)" />

                        <span class="star-rating ">
                            <input type="radio" name="rating" value="1" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="2" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="3" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="4" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="5" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="6" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="7" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="8" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="9" onclick="submit()"><i></i>
                            <input type="radio" name="rating" value="10" onclick="submit()"><i></i>
                        </span><br />
                    </form>
                </div>
            }
        </div>
        <div class="col-md-5">
            <h4>Description</h4>
            @Html.DisplayFor(model => model.Description)
            <hr />
            <h4>
                Genre
            </h4>
            @if (Model.Tags != null)
            {
                foreach (var genre in Model.Genres)
                {
                    <button class="pure-button">@genre</button>

                }
            }
            <hr />

            <h4>Tags</h4>
            @if (Model.Tags != null)
            {
                foreach (var t in Model.Tags)
                {
                    <button class="pure-button"><span class="glyphicon glyphicon-tag" style="font-size:small"></span> @t </button>
                }
            }
            <hr />


        </div>
        <div class="col-md-1">
            <!-- SPACER -->
        </div>
        <div class="col-md-3">
            <h4>Music Info</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Artist)</strong> <br />
                    @Html.DisplayFor(model => model.Artist)
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.ReleaseDate)</strong> <br />
                    @if (Model.ReleaseDate.HasValue)
                    {
                        @Model.ReleaseDate.Value.ToShortDateString()
                    }
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.TrackLength)</strong> <br />
                    @Html.DisplayFor(model => model.TrackLength) min.
                </li>

            </ul>

            <h4>Access Info</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Uploader</strong> <br />
                    @if (Model.UploaderName != null && Model.UploaderId != 0)
                    {
                        @Html.ActionLink(Model.UploaderName, "Details", "Account", new { id = Model.UploaderId }, null)
                    }
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Price)</strong> <br />
                    $@Html.DisplayFor(model => model.Price)
                </li>
@*                <li class="list-group-item">
                    <strong>Status</strong> <br />
                    Owner / Buyer / Something
                </li>*@
            </ul>



        </div>
    </div>
</div>

<div class="to-right">

</div>