@model ArtShare.Models.MovieDetailsModel

@{
    ViewBag.Title = "Stub";
}

<script>
    $(':radio').change(
  function () {
      $('.choice').text(this.value + ' stars');
  }
)
</script>


<legend>
    <h1>@Html.DisplayFor(model => model.Title) <small>(@Html.DisplayFor(model => model.Runtime) min.)</small> 
        <span class="star-rating to-right">
            <input type="radio" name="rating" value="1"><i></i>
            <input type="radio" name="rating" value="2"><i></i>
            <input type="radio" name="rating" value="3"><i></i>
            <input type="radio" name="rating" value="4"><i></i>
            <input type="radio" name="rating" value="5"><i></i>
        </span>
    </h1>

</legend>



<div class="media-details">
    <div class="row">
        <div class="col-md-3">
            <img src="@Html.DisplayFor(model => model.Thumbnail)" />      
        </div>
        <div class="col-md-5">
            <h4>Description</h4>
            @Html.DisplayFor(model => model.Description)
            <hr />
            <h4>
                Genre
            </h4>
            @foreach (var genre in Model.Genres)
            {
                <button class="pure-button">@genre</button>

            }
            <hr />

            <h4>Tags</h4>
            @foreach (var t in Model.Tags)
            {
                <button class="pure-button"><span class="glyphicon glyphicon-tag" style="font-size:small"></span> @t </button>
            }
            <hr />

            <h4>Cast</h4>
            <ul class="list-group">
                @foreach (var p in Model.CastMembers)
                {
                    <li class="list-group-item">
                        <a href="~/person?personId=@p">
                            @p
                        </a>
                    </li>
                }
            </ul>
            <hr />

            
        </div>
        <div class="col-md-1">
            <!-- SPACER -->
        </div>
        <div class="col-md-3">
            <h4>Movie Info</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Language)</strong> <br/>
                    @Html.DisplayFor(model => model.Language)
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Runtime)</strong> <br />
                    @Html.DisplayFor(model => model.Runtime) min.
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Director)</strong> <br />
                    @Html.DisplayFor(model => model.Director)
                </li>
            </ul>

            <h4>Access Info</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Uploader</strong> <br />
                    &nbsp;
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Price)</strong> <br />
                    $@Html.DisplayFor(model => model.Price)
                </li>
                <li class="list-group-item">
                    <strong>Status</strong> <br />
                    Owner / Buyer / Something
                </li>
            </ul>

            
            
        </div>
    </div>
</div>

<div class="to-right">
    <button class="pure-button button-art">Buy</button>
    <button class="pure-button button-art">Download</button>
    <button class="pure-button button-art">Edit</button>
</div>