<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/pure.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bndn_styles.css" />
    <link rel="stylesheet" href="~/Content/jasny-bootstrap.min.css" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/transitions.css" />
    <link rel="stylesheet" href="~/Content/jQuery.Rating.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/bootstrap.min.js")
    @Scripts.Render("~/Content/jasny-bootstrap.min.js")
    @Scripts.Render("http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js")
    @Scripts.Render("~/Content/jquery.collagePlus.min.js")
    @Scripts.Render("~/Content/jquery.collageCaption.min.js")
    @Scripts.Render("~/Content/jquery.removeWhitespace.min.js")
    @Scripts.Render("~/Content/jquery.rating.pack.js")
    @RenderSection("scripts", required: false)

    <title>ArtShare | @ViewBag.Title</title>
    @model dynamic
    
    <script>

        $(".alert").alert(); // Dismiss alerts


        // All images need to be loaded for this plugin to work so
        // we end up waiting for the whole window to load in this example
        $(window).load(function () {
            $(document).ready(function(){
                collage();
                $('.Collage').collageCaption();
            });
        });


        // Here we apply the actual CollagePlus plugin
        function collage() {
            $('.Collage').collagePlus(
                {
                    'fadeSpeed'     : 2000,
                    'targetHeight'  : 200,
                    'effect'        : 'effect-2',
                    'direction'     : 'vertical',
                    'allowPartialLastRow':true
                }
            );
        };

        // This is just for the case that the browser window is resized
        var resizeTimer = null;
        $(window).bind('resize', function() {
            // hide all the images until we resize them
            $('.Collage .Image_Wrapper').css("opacity", 0);
            // set a timer to re-apply the plugin
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(collage, 200);
        });

    </script>
</head>
    <body>
        <div id="container">
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="~/"><img class="logo-header" src="~/Content/img/logo.png" /></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="~/">Home</a></li>
                                <li><a href="~/Movies">Movies</a></li>
                                <li><a href="~/Music">Music</a></li>
                                <li><a href="~/Books">Books</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <div class="search">
                                        <form role="form" action="~/Search/SearchMediaItems" method="GET">
                                            <input type="hidden" name="from" value="1" />
                                            <input type="hidden" name="to" value="10" />
                                            <input type="text" class="form-control" name="searchKey" placeholder="Search">
                                            <button class="search-button" type="submit"></button>
                                        </form>
                                    </div>
                                </li>
                                @if (Request.Cookies["user"] != null)
                                {
                                    <li>
                                        <button class="btn-success btn" onclick="window.location.href='/Account/Details/@Request.Cookies["user"].Values["id"]'">My Account</button>
                                        <button class="btn button-art" onclick="window.location.href='/Upload'">Upload</button>
                                        <button class="btn button-art" onclick="window.location.href='/Login/Logout'">Logout</button>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <button class="button-art btn" onclick="window.location.href='/Login'">Login</button>
                                        <button class="button-art btn" onclick="window.location.href='/Account/Register'">Create Account</button>
                                    </li>
                                }
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

                <!--<div class="pure-menu pure-menu-open pure-menu-horizontal to-left">
                    <a href="~/" class="pure-menu-heading"><img class="logo-header" src="~/Content/img/logo.png"/></a>
                    <ul>
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/Movies">Movies</a></li>
                        <li><a href="~/Books">Books</a></li>
                        <li><a href="~/Music">Music</a></li>
                    </ul>
                </div> 

                <nav>
			        <ul>
				        <li>
                            <div class="search">
                                <form role="form" action="~/Search/SearchMediaItems" method="GET">
                                    <input type="hidden" name="from" value="1" />
                                    <input type="hidden" name="to" value="10" />
                                    <input type="text" class="form-control" name="searchKey" placeholder="Search">
                                    <button class="search-button" type="submit"></button>
                                </form>
                            </div>
                        </li>
                        @if (Request.Cookies["user"] != null) { 
                            <li><button class="btn-success pure-button" onclick="window.location.href='/Account/Details/@Request.Cookies["user"].Values["id"]'">My Account</button></li>
                            <li><button class="pure-button button-art" onclick="window.location.href='/Upload'">Upload</button></li>
                            <li><button class="pure-button button-art" onclick="window.location.href='/Login/Logout'">Logout</button></li>
                        }
                        else
                        {
                            <li><button class="button-art pure-button" onclick="window.location.href='/Login'">Login</button></li>
                            <li><button class="button-art pure-button" onclick="window.location.href='/Account/Register'">Create Account</button></li>
                        }
			        </ul>
		        </nav>

                @if (Request.Url.PathAndQuery == "/")
                {
                    // Maybe a jumbo?
                }-->
            </header>

                <div class="content-wrapper">
                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger"><strong>Error:</strong> 
                            @TempData["error"]
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                        
                    }
                    else if (TempData["success"] != null)
                    {
                        <div class="alert alert-success"><strong>Success:</strong> 
                            @TempData["success"]
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    }

                    @RenderBody()
                </div>
                <!--<footer></footer>-->
            </div>
    </body>
</html>
