<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/pure.css" />
    <link rel="stylesheet" href="~/Content/bndn_styles.css" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div id="container">
            <header>
                <!--<img src="~/Content/img/logo.png"/>-->
                

                <div class="pure-menu pure-menu-open pure-menu-horizontal to-left">
                    <a href="#" class="pure-menu-heading"><img class="logo-header" src="~/Content/img/logo.png"/></a>

                    <ul>
                        <li class="pure-menu-selected"><a href="#">Home</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                </div> 

                <nav>
			        <ul>
				        <li><div class="search"><input type="text" placeholder="Search"></div></li>
				        <!--<li><button class="button-small button-art pure-button">Search</button></li>-->
				        <li><button class="button-small button-art pure-button">Login</button></li>
			        </ul>
		        </nav>
            </header>
        
            <div class="content-wrapper">
                @RenderBody()
            </div>


            <footer>
            
            </footer>
        </div>
        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
