@model ArtShare.Models.AccountModel

@{
    ViewBag.Title = Model.Username;
}

<legend class="clearfix">
    <h1 class="to-left clear">
        @Html.DisplayFor(model => model.Username)
    </h1>
   
    @if (Model.CanEdit) {
        <div class="to-right detail-buttons clearfix">
            @if (Model.isAdmin)
            {
                <button class="pure-button button-art" onclick="window.location.href='/Account/UserList'">Userlist</button>
            }
            <button class="pure-button button-art" onclick="window.location.href='/Account/Edit/@Model.Id'">Edit Information</button>
        </div>
    }

</legend>

<div class="col-md-3">
    <h4>@Html.DisplayNameFor(model => model.Email)</h4>
    <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a>
</div>

<div class="col-md-3">
    <h4>@Html.DisplayNameFor(model => model.Firstname)</h4>
    @Html.DisplayFor(model => model.Firstname)
</div>

<div class="col-md-3">
    <h4>@Html.DisplayNameFor(model => model.Lastname)</h4>
    @Html.DisplayFor(model => model.Lastname)
</div>

<div class="col-md-3">
    <h4>@Html.DisplayNameFor(model => model.Location)</h4>
    @Html.DisplayFor(model => model.Location)
</div>

<div style="margin-top:100px;">&nbsp;</div>
@if (Model.PurchaseHistory != null && Model.PurchaseHistory.Any(t => !string.IsNullOrWhiteSpace(t.Title)) || Model.isAdmin)
{
    <h3>Purchase History</h3>
    <div class="table-responsive">
        <table class="table footable metro-white footable-loaded no-paging" data-page-size="7">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Thumbnail</th>
                    <th>Details</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PurchaseHistory.Where(t => !string.IsNullOrWhiteSpace(t.Title)))
                {
                    <tr>
                        <td>
                            <br />
                            @item.Title
                        </td>
                        <td>
                            <img id="MainContent1_repPeople_image2_0" src="@item.Thumbnail" style="width:80px;">
                        </td>
                        <td>
                            <br>
                            <a class="btn btn-info btn-sm" href="../../Details/@item.MediaItemId">Details</a>
                        </td>
                        <td>
                            <br/>
                            @Html.ActionLink("Download", "Index", "Download", new{id=item.MediaItemId, fileName=item.Title}, new {@class="btn btn-info btn-sm"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div style="margin-top:100px;">&nbsp;</div>
@if (Model.UploadHistory != null && Model.UploadHistory.Any(t => !string.IsNullOrWhiteSpace(t.Title)))
{
    <h3>Upload History</h3>
    <div class="table-responsive">
        <table class="table footable metro-white footable-loaded no-paging" data-page-size="7">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Thumbnail</th>
                    <th>Details</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UploadHistory.Where(t => !string.IsNullOrWhiteSpace(t.Title)))
                {
                    <tr>
                        <td>
                            <br />
                            @item.Title
                        </td>
                        <td>
                            <img id="MainContent1_repPeople_image2_0" src="@item.Thumbnail" style="width:80px;">
                        </td>
                        <td>
                            <br>
                            <a class="btn btn-info btn-sm" href="../../Details/@item.MediaItemId">Details</a>
                        </td>
                        <td>
                            <br/>
                            @Html.ActionLink("Download", "Index", "Download", new{id=item.MediaItemId, fileName=item.Title}, new {@class="btn btn-info btn-sm"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

