<!-- Author
    Jacob B. Cholewa (jbec@itu.dk)
-->
@model ArtShare.Models.AccountModel

@{
    ViewBag.Title = "Edit " + Model.Username;
}

<h2>Edit Account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="col-md-5">
        <h4>@Html.DisplayFor(model => model.Username)</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Username)

        <div class="form-group">
            <h4>@Html.DisplayNameFor(model => model.Password)</h4>
            @Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Password", required = "false", @class = "form-control" })
        </div>

        <div class="form-group">
            <h4>@Html.DisplayNameFor(model => model.Email)</h4>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", required = "false", @class = "form-control" })
        </div>

        <div class="form-group">
            <h4>@Html.DisplayNameFor(model => model.Firstname)</h4>
            @Html.TextBoxFor(m => m.Firstname, new { placeholder = "Firstname", required = "false", @class = "form-control" })
        </div>

        <div class="form-group">
            <h4>@Html.DisplayNameFor(model => model.Lastname)</h4>
            @Html.TextBoxFor(m => m.Lastname, new { placeholder = "Lastname", required = "false", @class = "form-control" })
        </div>

        <div class="form-group">
            <h4>@Html.DisplayNameFor(model => model.Location)</h4>
            @Html.TextBoxFor(m => m.Location, new { placeholder = "Location", required = "false", @class = "form-control" })
        </div>

        <hr />

        @if (!Model.isAdmin) { 
            <div class="form-group">
                <h4>Current Password</h4>
                @Html.TextBoxFor(m => m.CurrentPassword, new { type = "password", placeholder = "Current Password", required = "true", @class = "form-control" })
                <span class="danger">@Html.ValidationMessageFor(m => m.CurrentPassword)</span>
            </div>
        }

        <div class="to-right">
            <button type="button" class="btn btn-default" onclick="window.location.href='/Account/Details/@Model.Id'">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
    

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
