@model ArtShare.Models.SearchModel
@{
    ViewBag.Title = "Index";
}
<script>
    $('.Collage').collagePlus();
</script>

<div class="is-center page-header">
    <h1>ARTSHARE</h1>
</div>
<div class="row">
    <div class="featured-container is-center">
        <div class="Collage">
            @if (Model.Movies != null)
            {
                foreach (var m in Model.Movies)
                {

                    <img src="@m.Thumbnail" />

                    <!--<div class="col-md-2">
                        <a href="/Details/@m.ProductId" class="thumbnail">
                            <div class="image-container">
                                <img src="@m.Thumbnail">
                            </div>
                        </a>
                        <div class="caption">
                            @m.Title
                        </div>
                    </div>-->
                }
            }
        </div>

    </div>
</div>

    <hr />
<div class="row">
    <div class="featured-container is-center">

        @if (Model.Music != null)
        {
            foreach (var m in Model.Music)
            {

                <div class="col-md-2">
                    <a href="/Details/@m.ProductId" class="thumbnail">
                        <div class="image-container">
                            <img src="@m.Thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        @m.Title
                    </div>
                </div>
            }
        }

    </div>
</div>

    <hr />

<div class="row">
    <div class="featured-container is-center">

        @if (Model.Books != null)
        {
            foreach (var m in Model.Books)
            {
                <div class="col-md-2">
                    <a href="/Details/@m.ProductId" class="thumbnail">
                        <div class="image-container">
                            <img src="@m.Thumbnail">
                        </div>
                    </a>
                    <div class="caption">
                        @m.Title
                    </div>
                </div>
            }
        }

    </div>
</div>