@model ArtShare.Models.SearchModel
@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>ARTSHARE</h1>
</div>

<!--<div class="is-center page-header">
    <h1>ARTSHARE</h1>
</div>-->

<section class="Collage effect-parent">
    @if (Model.Movies != null)
    {
        foreach (var m in Model.Movies)
        {
            <div class="Image_Wrapper" data-caption="@m.Title" onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'" style="cursor:pointer">
                @if(m.Thumbnail != null){
                    <img src="@m.Thumbnail">
                }
                else
                {
                    <img src="http://placehold.it/350x150" />
                }
            </div>
        }
    }
        
    @if (Model.Music != null)
    {
        foreach (var m in Model.Music)
        {

            <div class="Image_Wrapper" data-caption="@m.Title" onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'" style="cursor:pointer">
                @if (m.Thumbnail != null)
                {
                    <img src="@m.Thumbnail">
                }
                else
                {
                    <img src="http://placehold.it/350x150" />
                }
            </div>
        }
    }
    
    @if (Model.Books != null)
    {
        foreach (var m in Model.Books)
        {

            <div class="Image_Wrapper" data-caption="@m.Title" onclick="location.href='@Url.Action("Index", "Details", new{Id = m.ProductId})'" style="cursor:pointer">
                @if (m.Thumbnail != null)
                {
                    <img src="@m.Thumbnail">
                }
                else
                {
                    <img src="http://placehold.it/350x150" />
                }
            </div>
        }
    }

</section>